---
title: Snapfeet widget
---
extends shared/_layout
block content
  
  .snapwdg2
    
    // DUMMY CONTENT
    div(style="height: 400px; display: flex; flex-direction: column; align-items: center; justify-content: center")
      div(style="display: flex; flex-direction: column;")
        a(href="#modal_1" js-modal style="margin-bottom: 10px").snapwdg2-btn.snapwdg2-btn-outline Intro modal
        a(href="#modal_2" js-modal style="margin-bottom: 10px").snapwdg2-btn.snapwdg2-btn-outline Login modal
        a(href="#modal_3" js-modal style="margin-bottom: 10px").snapwdg2-btn.snapwdg2-btn-outline Ops modal
        a(href="#modal_4" js-modal style="margin-bottom: 10px").snapwdg2-btn.snapwdg2-btn-outline Product modal


    
    // MODALS
    // util class
    .snapwdg2-modal-bg
    
    // intro modal
    .snapwdg2-modal#modal_1
      .snapwdg2-modal__wrapper
        .snapwdg2-modal__close(js-close-modal)
          i.snapwdg2-icon.snapwdg2-icon-close
        img(src='img/background_1.jpg' srcset="img/background_1@2x.jpg 2x").snapwdg2-modal__bg
        .snapwdg2-modal__inner
          .snapwdg2-intro
            .snapwdg2-intro__title No more doubts about the size to choose
            
            .snapwdg2-intro__subtitle With Snapfeet you can now make the virtual test of the shoe you buy.
            .snapwdg2-intro__cta
              a(href="#modal_2" js-modal).snapwdg2-btn.snapwdg2-btn-outline Login
            .snapwdg2-intro__download
              span or download the app
              .snapwdg2-intro__download-icons
                a(href='#' target="_blank")
                  i.snapwdg2-icon.snapwdg2-icon-app-store
                a(href="#" target="_blank")
                  i.snapwdg2-icon.snapwdg2-icon-g-play
    
    // login modal
    .snapwdg2-modal#modal_2
      .snapwdg2-modal__wrapper
        .snapwdg2-modal__close(js-close-modal)
          i.snapwdg2-icon.snapwdg2-icon-close
        .snapwdg2-modal__bg-login
        .snapwdg2-modal__inner
          .snapwdg2-login
            .snapwdg2-login-left
              .snapwdg2-login-left__content
                .snapwdg2-login__title Scan the QR code with <i class="icon icon-snapfeet"></i> app
                .snapwdg2-login__qr
                  img(src='img/qr.png' srcset='img/qr@2x.png 2x')
                .snapwdg2-login__logo
                  i.snapwdg2-icon.snapwdg2-icon-logo
                    
            .snapwdg2-login-right
              .snapwdg2-login__title Login
              form(action="#").snapwdg2-login__form
                .snapwdg2-login__form-fields
                  .snapwdg2-ui-group
                    input(type="email" name="email" placeholder="Email o ID snapfeet")
                  .snapwdg2-ui-group
                    input(type="password" name="password" placeholder="Password")
                .snapwdg2-login__form-button
                  button(type="submit").snapwdg2-btn.snapwdg2-btn-send Log In
                .snapwdg2-login__form-helpers
                  .snapwdg2-ui-group
                    .snapwdg2-ui-checkbox
                      input(type="checkbox" name="agree" id="agree")
                      label(for="agree")
                        span Remember me
                  a(href="#") Forgot password?
                  
              
    // intro modal
    .snapwdg2-modal#modal_3
      .snapwdg2-modal__wrapper
        .snapwdg2-modal__close(js-close-modal)
          i.snapwdg2-icon.snapwdg2-icon-close
        .snapwdg2-modal__inner
          .snapwdg2-bio
            .snapwdg2-bio__title Ops!
            .snapwdg2-bio__subtitle It seems that you haven't done it yet <br> the biometry
            i.snapwdg2-icon.snapwdg2-icon-arrow-down
            .snapwdg2-bio__row
              .snapwdg2-bio__col
                .snapwdg2-bio__col-ico.snapwdg2-bio__col-ico--first
                  i.snapwdg2-icon.snapwdg2-icon-step_1
                .snapwdg2-bio__name Open the app
              .snapwdg2-bio__col
                .snapwdg2-bio__col-ico.snapwdg2-bio__col-ico--second
                  i.snapwdg2-icon.snapwdg2-icon-step_2
                .snapwdg2-bio__name Go to the Biometry section
              .snapwdg2-bio__col
                .snapwdg2-bio__col-ico
                  a(href="#modal_4" js-modal).snapwdg2-btn.snapwdg2-btn-outline START
                .snapwdg2-bio__name Press “Start”
            .snapwdg2-bio__logo
              i.snapwdg2-icon.snapwdg2-icon-logo
            .snapwdg2-bio__helpers
              span Not Nik? <a href="#">Change user</a>

    // product modal
    .snapwdg2-modal#modal_4.is-active
      .snapwdg2-modal__wrapper
        .snapwdg2-modal__close(js-close-modal)
          i.snapwdg2-icon.snapwdg2-icon-close
        .snapwdg2-modal__inner
          .snapwdg2-product
            // left
            .snapwdg2-product__left
              .snapwdg2-product__brand
                img(src='img/brand.png' srcset='img/brand@2x.png 2x')
              .snapwdg2-product__image
                img(src='img/product.jpg' srcset='img/product@2x.jpg 2x')
              .snapwdg2-product__info
                .snapwdg2-product__info-left
                  .snapwdg2-product__name Giacalustra
                  .snapwdg2-product__desc Oxford with leather sole
                .snapwdg2-product__info-right
                  .snapwdg2-product__price € 185
                    span 00
              .snapwdg2-product__logo
                i.snapwdg2-icon.snapwdg2-icon-logo
            
            // right
            .snapwdg2-product__right
              .snapwdg2-product__size-title Your size
              .snapwdg2-product__size
                .snapwdg2-product__size-wrapper
                  .snapwdg2-product__size-scroller(js-size-scroller)
                    .snapwdg2-product__size-el(
                      data-size="40"
                      data-fit-stars="2.5"
                      data-bestfit="false"
                      data-fit-1="true"
                      data-fit-2="false"
                      data-fit-3="true"
                      js-product-size) 
                      span 40
                    .snapwdg2-product__size-el(
                      data-size="41"
                      data-fit-stars="5"
                      data-bestfit="true"
                      data-fit-1="false"
                      data-fit-2="false"
                      data-fit-3="true"
                      js-product-size) 
                      span 41
                    .snapwdg2-product__size-el(
                      data-size="42" 
                      data-fit-stars="3"
                      data-bestfit="false"
                      data-fit-1="true"
                      data-fit-2="false"
                      data-fit-3="true"
                      js-product-size).is-active 
                      span 42
                    .snapwdg2-product__size-el(
                      data-size="43" 
                      data-fit-stars="5"
                      data-bestfit="false"
                      data-fit-1="true"
                      data-fit-2="true"
                      data-fit-3="true"
                      js-product-size) 
                      span 43
                    .snapwdg2-product__size-el(
                      data-size="44" 
                      data-fit-stars="3"
                      data-bestfit="false"
                      data-fit-1="false"
                      data-fit-2="true"
                      data-fit-3="true"
                      js-product-size) 
                      span 44
                .snapwdg2-product__size-next
                  i.snapwdg2-icon.snapwdg2-icon-arrow-next
                .snapwdg2-product__size-prev
                  i.snapwdg2-icon.snapwdg2-icon-arrow-prev
                    
              .snapwdg2-product__fit
                .snapwdg2-product__fit-best(js-set-bestfit) Best fit
                .snapwdg2-product__fit-stars(js-set-product-stars)
                  i.snapwdg2-icon.snapwdg2-icon-star-fill
                  i.snapwdg2-icon.snapwdg2-icon-star-fill
                  i.snapwdg2-icon.snapwdg2-icon-star-fill
                  i.snapwdg2-icon.snapwdg2-icon-star-half
                  i.snapwdg2-icon.snapwdg2-icon-star-empty
              
              .snapwdg2-product__icons
                i.snapwdg2-icon.snapwdg2-icon-fit_1_fail(js-set-productfit-1)
                i.snapwdg2-icon.snapwdg2-icon-fit_2_fail(js-set-productfit-2)
                i.snapwdg2-icon.snapwdg2-icon-fit_3_ok(js-set-productfit-3)
              
              .snapwdg2-product__cta
                a(href="#").snapwdg2-btn.snapwdg2-btn-send Continue
                .snapwdg2-product__helpers
                  span Not Nik? <a href="#">Change user</a>
